.header {
  position: fixed;
  top: 0;
  width: 100%;
  transition: background-color 0.3s ease-in-out;
  z-index: 2;
}

.nav__menu,
.nav {
  display: flex;
}

.nav__menu > div {
  background: var(--bg-200);
  display: grid;
  place-content: center;
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid var(--bg-300);
}

.nav {
  margin: 1.5rem;
  align-items: center;
  justify-content: space-between;
}

.bx-bot,
.bx-menu-alt-right,
.bx-user-circle,
.bx-message-square-add {
  font-size: 1.25rem;
}

.nav__logo {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  overflow: hidden;
  width: 100%;
}

.nav__logo p,
.nav__logo a {
  height: 1.25rem;
  font-weight: 600;
  font-size: 0.938rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--text-200);
}

.nav__username {
  font-size: clamp(0.938rem, 3vw, 1rem);
}

/* ACTIVE SCROLL HEADER */
.scroll-header {
  border-bottom: 1px solid var(--bg-300);
}

.scroll-header .nav__login {
  background-color: var(--bg-300);
}

.scroll-header .nav__login:hover {
  background-color: var(--clr-3);
}

.scroll-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.065);
  -webkit-backdrop-filter: blur(35px);
  backdrop-filter: blur(35px);
  z-index: -1;
}

/* SIDEBAR NAVIGATION */
.nav__list {
  position: fixed;
  left: 0;
  top: 0;
  height: 100svh;
  width: 200px;
  background: transparent;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border-right: 1px solid var(--bg-200);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.nav__list.active {
  opacity: 1;
  visibility: visible;
}

.nav__links {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.nav__links a {
  font-size: clamp(0.938rem, 3vw, 1rem);
  font-weight: 400;
  color: var(--text-200);
}

.nav__login {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-200);
  gap: 0.5rem;
  padding: 0.75rem 0;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.nav__login:hover {
  background-color: var(--clr-3);
}

.nav__login a {
  font-size: clamp(0.938rem, 3vw, 1rem);
  font-weight: 400;
  color: var(--text-200);
  height: 1.45rem;
}

.nav__login img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
}

.nav__link {
  display: flex;
  align-items: center;
  gap: 0.65rem;
  width: fit-content;
}

.nav__link a {
  height: 1.45rem;
}

.nav__links a:hover,
.nav__login a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 700px) {
  .nav__menu,
  .nav__list .nav__logo,
  .nav__link i {
    display: none;
  }

  .nav__logo {
    max-width: 150px;
  }

  .nav__list {
    position: relative;
    opacity: 1;
    visibility: visible;
    border-right: none;
    width: initial;
    height: initial;
    backdrop-filter: none;
    padding: 0;
    flex-direction: row;
    gap: 2rem;
    justify-content: initial;
  }

  .nav__links {
    flex-direction: row;
    gap: 2rem;
  }

  .nav__login {
    padding: 0.65rem 0.75rem;
  }
}

@media screen and (min-width: 1100px) {
  .nav {
    margin: 1.5rem auto;
  }
}

@media screen and (min-width: 768px) {
  .nav__logo {
    max-width: 200px;
  }
}

@media screen and (min-width: 800px) {
  .nav__logo {
    max-width: 300px;
  }
}
