@import url(style.css);
@import url(header_nav.css);

.reset__password-container {
  margin: 8rem 0 5rem;
}

.reset__password-form-container h1 {
  font-size: clamp(1.78rem, 3vw, 2.5rem);
}

.reset__password-form-container p {
  font-size: clamp(0.85rem, 2vw, 0.938rem);
}

.reset__password-container img {
  width: 100%;
  height: 100%;
  margin-top: 5rem;
  max-width: 400px;
}

.reset__password-form-group {
  margin-top: 2.5rem;
}

.reset__password-form-group > div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
}

.reset__password-form-group > div:first-child {
  margin-top: 0;
}

.reset__password-form-group > div > label {
  font-size: clamp(0.85rem, 2vw, 0.938rem);
  font-weight: 500;
}

.reset__password-form-group > div > input {
  width: 100%;
  background: transparent;
  outline: none;
  border: 2px solid var(--text-200);
  padding: 0.85rem 1.25rem;
  color: var(--text-200);
  border-radius: 0.25rem;
  transition: border-color 0.3s ease;
}

.reset__password-form-group > div > input:focus {
  border-color: var(--clr-3);
}

.reset__password-form-group > div > button {
  padding: 0.85rem;
  background: var(--bg-200);
  outline: none;
  border: none;
  border-radius: 0.25rem;
  color: var(--text-200);
  transition: background 0.3s ease;
}

.reset__password-form-group > div > button:hover {
  background: var(--bg-300);
}

@media screen and (min-width: 600px) {
  .reset-password {
    display: flex;
    justify-content: center;
    height: 100svh;
  }

  .reset__password-container {
    display: grid;
    align-items: center;
    gap: 4rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .reset__password-container img {
    margin-top: 0;
  }
}
