@import url(header.css);
@import url(style.css);

#app {
  width: 100vw;
  min-height: 100vh;
  background: var(--MainBackground);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#chat_container {
  flex: 1;
  width: 100%;
  height: 100%;
  overflow-y: scroll;

  display: flex;
  flex-direction: column;
  gap: 10px;

  -ms-overflow-style: none;
  scrollbar-width: none;

  padding-bottom: 20px;
  scroll-behavior: smooth;
  margin-top: 5rem;
}

/* hides scrollbar */
#chat_container::-webkit-scrollbar {
  display: none;
}

.wrapper {
  width: 100%;
  padding: 15px;
}

.ai {
  background: rgba(255, 255, 255, 0.1);
}

.chat {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}

.profile {
  width: 36px;
  height: 36px;
  border-radius: 5px;

  background: #5436da;

  display: flex;
  justify-content: center;
  align-items: center;
}

.ai .profile {
  background: #10a37f;
}

.profile img {
  width: 60%;
  height: 60%;
  object-fit: contain;
}

.message {
  flex: 1;
  color: #dcdcdc;
  font-size: 1rem;
  max-width: 100%;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  text-align: justify;
  line-height: 1.5rem;
}

.message > p {
  white-space: pre-wrap;
}

/* hides scrollbar */
.message::-webkit-scrollbar {
  display: none;
}

form {
  width: 100%;
  align-items: center;
  max-width: 1024px;
  margin: 0 auto;
  padding: 10px;
  background: var(--TransparentWhite);
  box-shadow: 0 0 1000px 0 rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: row;
  gap: 10px;
  border-radius: 0.75rem 0.75rem 0 0;
}

textarea {
  width: 100%;
  color: var(--White);
  font-size: 0.85rem;
  padding: 10px;
  background: transparent;
  border: none;
  outline: none;
  resize: none;
}

form img {
  width: 30px;
  height: 30px;
}

.bx-send {
  color: var(--White);
  font-size: 1.2rem;
}

/* Add desired styles for code blocks */
.code-block {
  background-color: #f0f0f0;
  padding: 10px;
}

.nav__menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: 100vh;
  background: transparent;
  -webkit-backdrop-filter: blur(100px);
  backdrop-filter: blur(100px);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  z-index: 1;
}

.bxs-trash-alt {
  font-size: 1rem;
}

@media screen and (min-width: 576px) {
  .nav__menu {
    width: 250px;
  }

  .bx-menu-alt-right,
  .nav__menu-right,
  .bx-left-arrow-alt {
    display: block;
  }
}
