@import url(style.css);
@import url(forgotPassword.css);

.password__container {
  display: grid;
  align-items: center;
  gap: 4rem;
  background: var(--cardBackground);
  padding: 2rem;
  border-radius: 0.25rem;
  border: 2px solid var(--White);
  box-shadow: 0 50px 500px 0 #c3aced;
  max-width: 500px;
}

.reset__user {
  font-size: 0.85rem;
  color: var(--White);
  margin-top: 0.75rem;
  text-align: initial;
}

.error__verify-password {
  color: red;
  font-size: 12px;
}

.password__success-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.password__success-overlay.show {
  opacity: 1;
  visibility: visible;
}

.password__success-content {
  width: calc(100% - 3rem);
  max-width: 500px;
  background: var(--TransparentWhite);
  padding: 2rem 2rem 2.75rem 2rem;
  border-radius: 1rem;
}

.password__success-content h1 {
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 2rem;
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #ad8bec 0%, #e295b2 100%);
  font-weight: 700;
}

.password__success-content p {
  color: var(--White);
  margin-top: 1rem;
  font-size: 0.85rem;
  margin-bottom: 1.75rem;
}

.password__success-content a {
  background: var(--White);
  color: var(--Black);
  transition: color 0.3s ease-in-out, background 0.3s ease-in-out,
    transform 0.3s ease-in-out;
  padding: 0.75rem 1.25rem;
  font-size: 12px;
  border-radius: 0.25rem;
}

.password__success-content a:hover {
  background: var(--accent);
  color: var(--White);
  box-shadow: 0 20px 80px -10px var(--accent);
}

@media screen and (min-width: 576px) {
  .password__container {
    grid-template-columns: initial;
  }
}
