@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

:root {
  --White: hsl(0, 100%, 100%);
  --Black: hsl(0, 0%, 0%);
  --DarkBlue: hsl(205, 100%, 15%);
  --MainBackground: hsl(204, 100%, 5%);
  --TransparentWhite: rgba(255, 255, 255, 0.2);
  --HoverBtn: hsl(214, 60%, 33%);
}

body {
  background-color: var(--MainBackground);
}

button {
  outline: 0;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

p {
  line-height: 1.5;
  text-align: justify;
}

.bx {
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
    margin-inline: auto;
  }
}
